[submodule "data/datarepo01"]
	path = data/datarepo01
	url = https://github.com/longavailable/datarepo01.git
[submodule "data/datarepo02"]
	path = data/datarepo02
	url = https://github.com/longavailable/datarepo02.git
[submodule "graphs/graphrepo01"]
	path = graphs/graphrepo01
	url = https://github.com/longavailable/graphrepo01.git
