[submodule "data/datarepo01"]
	path = data/datarepo01
	url = https://github.com/longavailable/datarepo01.git
[submodule "data/datarepo02"]
	path = data/datarepo02
	url = https://github.com/longavailable/datarepo02.git
[submodule "graphs/graphrepo01"]
	path = graphs/graphrepo01
	url = https://github.com/longavailable/graphrepo01.git
[submodule "thematics/global-urban-growth-db"]
	path = thematics/global-urban-growth-db
	url = https://github.com/longavailable/global-urban-growth-db.git
[submodule "data/ydm-historical-rainfall-db"]
	path = data/ydm-historical-rainfall-db
	url = https://github.com/longavailable/ydm-historical-rainfall-db.git
[submodule "graphs/ydm-historical-rainfall-graphs"]
	path = graphs/ydm-historical-rainfall-graphs
	url = https://github.com/longavailable/ydm-historical-rainfall-graphs.git
[submodule "data/ydm-population-gdp-db"]
	path = data/ydm-population-gdp-db
	url = https://github.com/longavailable/ydm-population-gdp-db.git
[submodule "data/ydm-gdb"]
	path = data/ydm-gdb
	url = https://github.com/longavailable/ydm-gdb.git
